PORT=5000
MONGO_URI=your_mongodb_atlas_connection_string

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ML_SERVICE_URL=your_deployed_ml_service_url

RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_verified_sender_address
CLIENT_URL=your_frontend_url